
/******* GLOBAL STYLES*********/

p {
  display: inline;
}




.mejs-player-custom .mejs__controls{

}


.mejs-player-custom .mejs__controls .mejs__time-rail {
    direction: ltr;
    width: 100%;
    padding-top: 10px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    margin: 0 10px;

}

/* Start: Fullscreen */
.mejs-player-custom .mejs__button .mejs__fullscreen-button {
    background-position: 80px 0;
    right: auto;

}

.mejs__unfullscreen > button{
    background-position: -100px 0;
}

/* End: Fullscreen */

/* Start: Mute/Volume */
.mejs__button .mejs__volume-button{

}
.mejs__mute > button {

}

.mejs__unmute > button {

}

.mejs__volume-button {
    position: relative;
    float: right;
}

.mejs__volume-button > .mejs__volume-slider {
    display: none;
    height: 115px;
    width: 25px;
    background: rgba(50, 50, 50, 0.7);
    border-radius: 0;
    top: -115px;
    left: 5px;
    z-index: 1;
    position: absolute;
    margin: 0;
}
